<p style="color: green"><%= notice %></p>

<h1>Cabins</h1>

<%= link_to "New cabin", new_cabin_path %>

<section class="diagonal section-bg1">
  <div class="container diagonal-content">
    <% @cabins.each do |cabin| %>
      <div class="row align-items-center mb-5">
        <div class="col-md-6">
          <h2><%= cabin.name %></h2>
          <p><%= cabin.description %></p>
          <p><strong>Price:</strong> $<%= cabin.price %></p>
          <p>
            <%= link_to "Show this cabin", cabin, class: "btn btn-primary" %>
          </p>
        </div>
        <div class="col-md-6">
          <% if cabin.images.attached? %>
            <% cabin.images.each do |image| %>
              <%= image_tag image, class: "img-fluid mb-2" %>
            <% end %>
          <% else %>
            <img src="https://via.placeholder.com/500" alt="Placeholder Image" class="img-fluid">
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
