<div class="container mt-4">
  <h1>All Users</h1>

  <div class="mb-3">
    <%= link_to 'Create User', new_admin_user_path, class: 'btn btn-success' %>
  </div>

  <%= form_with url: admin_users_path, method: :get, local: true, class: 'mb-3' do %>
    <div class="row">
      <div class="col-md-2">
        <%= label_tag :id, 'Filter by ID' %>
        <%= text_field_tag :id, params[:id], class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <%= label_tag :email, 'Filter by Email' %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= label_tag :admin, 'Filter by Admin Status' %>
        <%= select_tag :admin, options_for_select([['All', ''], ['Yes', 'true'], ['No', 'false']], selected: params[:admin]), class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= label_tag :filter %>
        <%= submit_tag 'Filter', class: 'btn btn-primary form-control' %>
      </div>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <%= link_to "ID", admin_users_path(sort: "id", direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>
          <%= link_to "Email", admin_users_path(sort: "email", direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>
          <%= link_to "Admin", admin_users_path(sort: "admin", direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.admin ? 'Yes' : 'No' %></td>
            <td class="text-center">
              <div class="btn-group" role="group" aria-label="User Actions">
                <%= link_to 'Show', admin_user_path(user), class: 'btn btn-info btn-sm me-2' %>
                <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary btn-sm me-2' %>
                <%= button_to 'Destroy', admin_user_path(user), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center">No users found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @total_pages > 1 %>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% (1..@total_pages).each do |page| %>
          <li class="page-item <%= 'active' if params[:page].to_i == page %>">
            <%= link_to page, admin_users_path(page: page, sort: params[:sort], direction: params[:direction]), class: "page-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
